ion-card{
    background-color: #303030ee;
    width: 100%;
    margin-left: 0rem;
}
ion-card-title{
    font-size: 18px;
    font-family: "Rubik", sans-serif;
}
ion-card-subtitle{
    font-family: "Rubik", sans-serif;
}
ion-card-content{
    font-family: "Rubik", sans-serif;
}
ion-col{
    margin-bottom: -15px;
}