
<ion-content>

  <div class="floating-form">
    
    <div class='floating-heading'>
      <h4>Create account </h4>
      <p class="access">Fill the details and create your account</p>
    </div>
      
    <div class="floating-label">      
      <input class="floating-input" type="email" placeholder=" ">
      <span class="highlight"></span>
      <label>Email Address</label>
    </div>

    <div class="floating-label">      
      <input class="floating-input" type="number" placeholder=" ">
      <span class="highlight"></span>
      <label>Mobile Number</label>
    </div>

    <div class="floating-label-001">      
      <input class="floating-input" type="password" placeholder=" ">
      <span class="highlight"></span>
      <label>Password</label>
    </div>
    <ion-row>
      <ion-col size="1">
        <div class="remains">
        <ion-checkbox></ion-checkbox>
        </div>
      </ion-col>
      <ion-col size="11">
        <div class="remains">
        <p> I agree to the terms and conditions </p>
        </div>
      </ion-col>
      </ion-row>

    <div class="text-center">
      <button class="btn btn-primary" [routerLink]="['/login']">Register</button>
    </div>

  </div>

  <div class="signup">
    <p>Already have an account ? <span [routerLink]="['/login']" >Login</span></p>
  </div>

</ion-content>

